.el_menu_lateral_mas_gonito_del_universo{
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	height: 100vh; 
	left: 0;
	overflow: hidden;
	position: fixed;
	top:0;
	transition: all .5s ease;
	width: 70px;
	z-index: 110;
	
	&:hover{
		width: 270px;
	}

	.item_icon{
		background-color: #ffffff;
		cursor: pointer;
		transition: all .5s ease;
		width: 270px;		
		height: 70px;
		.ii{
			height: 70px !important;
			width: 70px !important;
		}
		.pp{
			height: 70px !important;
			width: 200px !important;
		}
		&:hover {
			background-color: rgba(0,0,0,.04);
		}
		&:hover .ii{
			color: #3f51b5 !important;
		}
		&:hover p{
			color: #3f51b5 !important;
		}
	}

	a.item_icon:nth-child(1){
		&:hover .ii{
			color: #ffffff !important;
		}			
	}

	.logogeneral{
		transition: all .5s ease;
	}

	&:hover .logogeneral{
		color: #ffffff !important;
		background-color: #3f51b5 !important;
		width: 270px !important;
	}

}

main{
	position: relative;
	width: calc(100% - 70px);
	margin-left: 70px;
	padding-top: 0px;
	min-height: 400px;
	.header_ever{
		z-index: 99;
		position: fixed;
		width: calc(100% - 70px);
		background-color: #3f51b5;
		height: 70px;
	}
	.content_ever{
		background-color: #ffffff;
		border: 1px solid #e0e0e0;
		border-radius: 4px;
		margin-bottom: 35px;
		margin-left: 35px;
		min-height: 120px;
		position: absolute;
		top: 100px;
		width: calc(100% - 70px);		
	}
}

.content_special{
	margin-bottom: 35px;
	min-height: 220px;
	position: relative;
	top: 100px;
	width: 100%;
}

body{
	background-color: #fafafa;
}

.element_special_item{
	padding: 0px !important;
	min-height: 60px;
	background-color: #ffffff;
	border: 1px solid #f5f5f5;
	&--button{
		box-sizing: border-box;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex: 0 1 auto;
		-webkit-box-flex: 0;
		flex: 0 1 auto;
		-ms-flex-direction: row;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
		text-align: center;

		color: #616161;
		font-size: 1.2em;
		border-left: 1px solid #f5f5f5;
		border-right: 1px solid #f5f5f5;
		padding: 0px !important;
		transition: all .5s ease;
		height: 60px;
		&:hover .element_special_item__link{
			background: #3f51b5;
			color: #ffffff;
		}
	}
	&--delete{
		box-sizing: border-box;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex: 0 1 auto;
		-webkit-box-flex: 0;
		flex: 0 1 auto;
		-ms-flex-direction: row;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
		text-align: center;
		
		border-left: 1px solid #f5f5f5;
		border-right: 1px solid #f5f5f5;
		cursor: pointer;
		transition: all .5s ease;
		color: #616161;
		height: 60px;
		&:hover{
			color: #fff;
			background: #F44336;
		}			
	}

}

.element_ul{
	padding-top:20px;
	padding-bottom:20px;
}



















