div(ng-controller="switches_puertos_servidores")
	.row.col-xs-12.middle-xs(style="padding-top:20px;padding-bottom:20px;")
		.row.col-xs-6.middle-xs.start-xs
			.material-icons.grey-text.text-darken-2(style="margin-right:20px;") dns
			h5.grey-text.text-darken-2 Servidores
		.row.col-xs-6.middle-xs.end-xs
			a(data-activates="agregar-servidor-al-sw").text-indigo.uppercase.button-create Agregar nuevo servidor
		.row.col-xs-12.no-padding				
			ul.collection.row.col-xs-12.no-padding.center-xs
				li.collection-item.avatar.row.col-xs-12.middle-xs(ng-repeat='puerto in puertosServidores')
					div(id="#puerto{{ puerto.id }}").modal.modal-fixed-footer
						.modal-content
							h4 Modal header
						.modal-footer
							.modal-action.modal-close.waves-effect.waves-green.btn-flat E
					i.material-icons.white-text.circle.green info
					p Al puerto: 
						b {{ puerto.name }} 
					|  esta conectado el 
					p(ng-repeat='servidor in puerto.servidor') servidor: 
						a(ui-sref='single_servidor({ id: equipo.id })')
							b {{ servidor.name }}
					.secondary-content.row.middle-xs.center-xs
						a.grey-text.right.modal-trigger(href="#puerto{{ puerto.id }}")
							i.material-icons delete 
				li.collection-item.avatar.row.col-xs-12.center-xs(ng-if='puertosServidores.length == 0')
					h3.grey-text No hay puertos activos
		.row.col-xs-12.center-xs.no-padding.progress-load-sigle				
			preloader

div.divider

ul#agregar-servidor-al-sw.side-nav
	.row.col-xs-12.indigo.middle-xs(style='height: 130px;')
		.row.col-xs-11.no-padding
			h4.light.white-text Agregar servidores 
	.row.col-xs-12.no-padding.transparent.progress.progress-update.hide(style="margin:0px;")
		.indeterminate.amber.accent-3
	.row.col-xs-12.no-padding(style="margin-top:30px;")
		form.col-xs-12
			.input-field
				select(id="equipoMuchos" class="browser-default" ng-model='relation.element1')
				label#equipoMuchos.active Seleciona un equipo
			.input-field
				select(id="puertosMuchos" class="browser-default" ng-model='relation.element2')
				label#puertosMuchos.active Seleciona un puerto
			.input-field.row
				input(type="submit" value="Confirmar" ng-click="PuertoEquipo(relation)").col-xs-12.btn.z-depth-0.indigo.white-text


