.row.col-xs-12.no-padding.middle-xs(ng-controller="switches_puertos_servidores")
	.row.col-xs-12.element_ul
		.row.col-xs-6.middle-xs.start-xs
			.material-icons.grey-text.text-darken-2(style="margin-right:20px;") dns
			h5.grey-text.text-darken-2 Servidores
		.row.col-xs-6.middle-xs.end-xs
			a.text-indigo.uppercase.button-create(data-activates="agregar-servidor-al-sw") Agregar nuevo servidor
	.element_special_item.row.col-xs-12.middle-xs.no-padding.grey.lighten-5(ng-hide='puertosServidores.length === 0')
		.element_special_item--button.col-xs-5 Servidor
		.element_special_item--button.col-xs-5 Puerto
		.element_special_item--button.col-xs-2 Opciones
	.element_special_item.row.col-xs-12.middle-xs.no-padding(ng-repeat='puerto in puertosServidores')		
		a.element_special_item--button.col-xs-5(ui-sref='single_equipo({ id: equipo.id })') {{ equipo.name }}
		.row.col-xs-7.no-padding(ng-repeat='puerto in equipo.puerto') 
			a.element_special_item--button.col-xs-9 {{ puerto.name }}
			a.element_special_item--delete.col-xs-3(ng-click="delete_relation(puerto.id , equipo.id)")
				i.material-icons delete 
	li.collection-item.row.col-xs-12.center-xs.middle-xs.grey.lighten-5(ng-if='puertosServidores.length === 0')
		h4.grey-text.text-darken-1 No hay servidores asignados
	#servidoresload.row.col-xs-12.center-xs.no-padding			
		preloader

ul#agregar-servidor-al-sw.side-nav(ng-controller="add_servidores_switches")
	.row.col-xs-12.indigo.middle-xs(style='height: 130px;')
		.row.col-xs-11.no-padding
			h4.light.white-text Agregar servidores 
	.row.col-xs-12.no-padding.transparent.progress.progress-update.hide(style="margin:0px;")
		.indeterminate.amber.accent-3
	.row.col-xs-12.no-padding(style="margin-top:30px;")
		form.col-xs-12
			.input-field
				select(id="servidoresOptions" class="browser-default" ng-model='relation.element1')
					option(value="0" selected="selected" disabled) Seleccione una opcion
				label#equiposOptions.active Seleciona un servidor
			.input-field
				select(id="puertosOptions" class="browser-default" ng-model='relation.element2')
					option(value="0"  selected="selected" disabled) Seleccione una opcion
				label#puertosOptions.active Seleciona un puerto
			.input-field.row
				input(type="submit" value="Confirmar" ng-click="PuertoServidor(relation)").col-xs-12.btn.z-depth-0.indigo.white-text


