nav.el_menu_lateral_mas_gonito_del_universo.column-xs
	.item_icon_user.row.center-xs.middle-xs
		.item_icon_user-circle
	.divider.col-xs-12
	a.item_icon.row.center-xs.middle-xs.tooltipped(ui-sref="dashboard", data-position="right" data-delay="50" data-tooltip="Panel de control")
		.ii.material-icons.grey-text.text-darken-2 dashboard
	a.item_icon.row.center-xs.middle-xs.tooltipped(ui-sref="servidores", data-position="right" data-delay="50" data-tooltip="Servidores")
		.ii.material-icons.grey-text.text-darken-2 dns
	a.item_icon.row.center-xs.middle-xs.tooltipped(ui-sref="equipos", data-position="right" data-delay="50" data-tooltip="Equipos")
		.ii.material-icons.grey-text.text-darken-2 important_devices
	a.item_icon.row.center-xs.middle-xs.tooltipped(ui-sref="switches", data-position="right" data-delay="50" data-tooltip="Switches")
		.ii.material-icons.grey-text.text-darken-2 view_comfy
	a.item_icon.row.center-xs.middle-xs.tooltipped(data-position="right" data-delay="50" data-tooltip="Puertos")
		.ii.material-icons.grey-text.text-darken-2 settings_input_component
	a.item_icon.row.center-xs.middle-xs.tooltipped(data-position="right" data-delay="50" data-tooltip="Vlans")
		.ii.material-icons.grey-text.text-darken-2 donut_large
	.divider.col-xs-12
	a.item_icon.row.center-xs.middle-xs.tooltipped(data-position="right" data-delay="50" data-tooltip="Cerrar sesión")
		.ii.material-icons.grey-text.text-darken-2 power_settings_new
