nav.el_menu_lateral_mas_gonito_del_universo.column-xs(ng-controller='nav')
	a.item_icon.row(ui-sref="dashboard")
		.ii.logogeneral.row.center-xs.middle-xs.material-icons.indigo-text polymer
	.divider.col-xs-12
	a.item_icon.row(ui-sref="profile")
		.ii.row.center-xs.middle-xs.material-icons.grey-text.text-darken-2 account_circle
		.pp.row.start-xs.middle-xs.grey-text.text-darken-2 Cuenta 
	a.item_icon.row(ui-sref="dashboard")
		.ii.row.center-xs.middle-xs.material-icons.grey-text.text-darken-2 dashboard
		.pp.row.start-xs.middle-xs.grey-text.text-darken-2 Panel de control 
	a.item_icon.row(ui-sref="servidores")
		.ii.row.center-xs.middle-xs.material-icons.grey-text.text-darken-2 dns
		.pp.row.start-xs.middle-xs.grey-text.text-darken-2 Servidores 
	a.item_icon.row(ui-sref="equipos")
		.ii.row.center-xs.middle-xs.material-icons.grey-text.text-darken-2 important_devices
		.pp.row.start-xs.middle-xs.grey-text.text-darken-2 Equipos 
	a.item_icon.row(ui-sref="switches")
		.ii.row.center-xs.middle-xs.material-icons.grey-text.text-darken-2 view_comfy
		.pp.row.start-xs.middle-xs.grey-text.text-darken-2 Switches 
	a.item_icon.row(ui-sref="net")
		.ii.row.center-xs.middle-xs.material-icons.grey-text.text-darken-2 settings_input_component
		.pp.row.start-xs.middle-xs.grey-text.text-darken-2 Conexiones 
	a.item_icon.row(ui-sref="settings")
		.ii.row.center-xs.middle-xs.material-icons.grey-text.text-darken-2 settings
		.pp.row.start-xs.middle-xs.grey-text.text-darken-2 Configuraciones 
	.divider.col-xs-12
	a.item_icon.row()
		.ii.row.center-xs.middle-xs.material-icons.grey-text.text-darken-2 power_settings_new
		.pp.row.start-xs.middle-xs.grey-text.text-darken-2 Salir 
