include ./includes/nav.jade

main
	.header_ever.row
		nav.transparent.z-depth-0.col-xs-6
			h4.white-text(style='margin-top:16px;') Equipos
		nav.transparent.z-depth-0.col-xs-6(ng-controller="create_modal")
			.nav-wrapper.transparent.z-depth-0
				ul.right.hide-on-med-and-down
					li.right
						a(href="#" data-activates="slide-out").button-create.btn.white.indigo-text Agrega nuevo
					li.right
						a(ng-click="printPDF()")
							i.material-icons print
		.col-xs-12.no-padding.transparent.progress.progress-load(style="margin:0px;")
			.indeterminate.red.accent-2
	.row.col-xs-12
		.load.row.col-xs-12.center-xs
			h3.light.grey-text Cargando ... 
		.row.col-xs-12.center-xs(ng-if='equipos.length == 0')
			h3.light.grey-text No hay equipos registrados ... 
		.row.col-xs-12.center-xs(ng-if='equipos == undefined')
			h3.light.grey-text Ocurrio un error, intentalo mas tarde... 
	.content_ever.row.center-xs
		.row.col-xs-12.no-padding
			.col-xs-6.no-padding
				nav.blue.z-depth-0
					.nav-wrapper.white.z-depth-0
						form
							.input-field
								input#search.grey-text.text-darken-2(type='search', placeholder='Buscar equipos' required='' ng-model="busqueda")
								label.label-icon(for='search')
									i.grey-text.text-darken-2.material-icons search
								i.material-icons close
			nav.z-depth-0.col-xs-6.white
				.nav-wrapper.z-depth-0
					ul.right.hide-on-med-and-down
						li.right
							a(href='badges.html').grey-text.text-darken-2
								i.material-icons.grey-text.text-darken-2 sort_by_alpha
						li.right
							a(href='badges.html').grey-text.text-darken-2
								i.material-icons.grey-text.text-darken-2 view_list
		.row.divider.col-xs-12
		.row.col-xs-12.red.hide
			h1 aqui hay una tabla
			table(style="width:100%;")#tablaEquipos
				thead
					tr
						th Identificador
						th Nombre
						th SO
						th Marca
						th Modelo
						th Mac
						th IP
		.row.col-xs-12
			table.highlight
				thead
					tr
						th Selc
						th ID
						th Nombre
						th SO
						th Marca
						th Modelo
						th Mac
						th IP
						th Opciones
				tbody
					tr(ng-repeat='equipo in equipos | filter:busqueda'  style='cursor:pointer;')
						td
							input(id='{{equipo.id}}' type='checkbox').red
							label(for='{{equipo.id}}')
						td {{equipo.id}}
						td {{equipo.name}}
						td {{equipo.so}}
						td {{equipo.brand}}
						td {{equipo.model}}
						td {{equipo.mac}}
						td {{equipo.ip}}
						td.center-xs
							a(ui-sref="single_equipo({ id: equipo.id })")
								i.material-icons.indigo-text more

		.row.col-xs-12
			.load.row.col-xs-12.center-xs
				h3.light.grey-text Cargando ... 
			.row.col-xs-12.center-xs(ng-if="equipos.length==0")
				h3.light.grey-text No hay equipos 


ul#slide-out.side-nav
	.row.col-xs-12.indigo.middle-xs(style='height: 130px;margin-bottom:30px;')
		.row.col-xs-12
			h3.light.white-text Nuevo equipo
	.row.col-xs-12
		form.col-xs-12
			.input-field
				input(id="name" type="text" placeholder="Nombre" ng-model="equipo.name")
				label#name Nombre del equipo
			.input-field
				input(id="so" type="text" placeholder="Sistema operativo" ng-model="equipo.so")
				label#so Sistema operativo del equipo
			.input-field
				input(id="brand" type="text" placeholder="brand" ng-model="equipo.brand")
				label#brand Marca
			.input-field
				input(id="model" type="text" placeholder="Modelo" ng-model="equipo.model")
				label#model Modelo del equipo
			.input-field
				input(id="mac" type="text" placeholder="MAC" ng-model="equipo.mac")
				label#mac Mac
			.input-field
				input(id="ip" type="text" placeholder="IP" ng-model="equipo.ip")
				label#ip IP del equipo
			.input-field.row
				input(type="submit" value="Crear" ng-click="crearEquipos(equipo)").col-xs-12.btn.indigo.white-text
