doctype html
html(ng-app='hermes')
	head
		title Hermes 
		meta(charset='utf-8')
		meta(name='HandheldFriendly', content='true')
		meta(name='theme-color', content='#ffffff')
		meta(name='author', content='Alexander Salazar')
		link(rel='manifest', href='manifest.json')
		link(rel='shortcut icon', type='image/x-icon', href='/favicon/favicon.png')
		link(rel='icon', sizes='192x192', href='/favicon/favicon.png')
		link(rel='apple-touch-icon', href='/favicon/favicon.png')
		meta(name='msapplication-square310x310logo', content='/favicon/favicon.png')
		link(rel='apple-touch-icon', href='/favicon/favicon.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/favicon/favicon.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/favicon/favicon.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/favicon/favicon.png')
		link(rel='apple-touch-startup-image', href='/favicon/favicon.png')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
		meta(name='apple-mobile-web-app-title', content='Hermes')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='description', content='')
		link(type='text/css', rel='stylesheet', href='/css/style.css', media='screen,projection')
	body(ng-controller="indexController")
		div(ui-view='')
		script(type='text/javascript', src='js/jquery-3.0.0.min.js')
		script(type='text/javascript', src='js/angular.min.js')
		script(type='text/javascript', src='js/materialize.min.js')
		script(type='text/javascript', src='js/angular-materialize.min.js')
		script(type='text/javascript', src='js/angular-ui-router.min.js')
		script(type='text/javascript', src='js/jspdf.debug.js')
		script(type='text/javascript', src='js/application.v1.min.js')