.header_auth.row.bottom-xs.indigo
	.row.col-xs-12.no-padding.transparent.progress.progress-update.hide(style="margin:0px;")
		.indeterminate.red.accent-2

.row.center-xs
	form(name="loginForm").content_auth--form.column-xs.col-xs-11.col-md-10.col-lg-4
		h3.light.text-grey.text-darken-2.center-align Hermes
		.row.input-field.no-padding.left-align.start-xs
			input#mail.validate(type='email' name="mail" ng-model="user.mail" ng-model-options="{ updateOn: 'blur' }" required).col-xs-12
			label(for='mail' ng-hide="loginForm.mail.$dirty && loginForm.mail.$error.required") Correo Electrónico
			label(for='mail' ng-show="loginForm.mail.$dirty && loginForm.mail.$error.required").amber-text.text-darken-1.active Correo Electrónico obligatorio
		.row.input-field.no-padding.left-align.start-xs
			input#password(type='password' name="password" min="4" ng-model="user.password" ng-model-options="{ updateOn: 'blur' }" required).col-xs-12
			label(for='password' ng-hide="loginForm.password.$dirty && loginForm.password.$error.required") Contraseña
			label(for='password' ng-show="loginForm.password.$dirty && loginForm.password.$error.required").amber-text.text-darken-1.active La contraseña es obligatoria
		.row.input-field.no-padding
			input#quickstart-sign-in(type='submit', value='Iniciar sesión' ng-click="AuthLogin(user)" ng-disabled="!loginForm.$valid").col-xs-12.btn.indigo.white-text
		.row.input-field.no-padding.center-align.center-xs
			a(ui-sref="register") ¿No tienes una cuenta? Registrate
