include ./includes/nav.jade

main
	.header_ever.row
		nav.transparent.z-depth-0.col-xs-6
			h4.white-text(style='margin-top:16px;') Cuenta
		nav.transparent.z-depth-0.col-xs-6(ng-controller="create_modal")
			.nav-wrapper.transparent.z-depth-0
				ul.right.hide-on-med-and-down
					li.right
						a(href='badges.html')
							i.material-icons more_vert
					li.right
						a(href='badges.html')
							i.material-icons view_module
					li.right
						a(href='badges.html')
							i.material-icons settings_ethernet
	.content_ever.row.center-xs
		.column-xs.col-xs-12.center-xs
			h3.light.grey-text Bueno emm ... 
			h5.light.grey-text Segurisimo estamos trabajando en esto 
