.header_for_all.row.middle-xs.center-xs
	.header_for_all-content.col-xs-11.col-md-6.col-lg-8
		h3.light.text-grey.text-darken-2.center-align Registrate
		.row.input-field.no-padding.left-align.start-xs
			input#email.validate(type='email').col-xs-12
			label(for='email') Correo Electrónico
		.row.input-field.no-padding.left-align.start-xs
			input#password(type='password').col-xs-12
			label(for='password') Contraseña
		.row.input-field.no-padding
			input#pass(type='button', value='Iniciar sesión').col-xs-12.btn.indigo.white-text