include ./includes/nav.jade

main
	.header_ever.row
		nav.transparent.z-depth-0.col-xs-6
			h4.white-text(style='margin-top:16px;') Servidores
		nav.transparent.z-depth-0.col-xs-6(ng-controller="create_modal")
			.nav-wrapper.transparent.z-depth-0
				ul.right.hide-on-med-and-down
					li.right
						a(href="#" data-activates="slide-out").button-create.btn.white.indigo-text Agrega nuevo
		.col-xs-12.no-padding.transparent.progress.progress-load(style="margin:0px;")
			.indeterminate.red.accent-2
	.content_ever.row.center-xs
		.row.col-xs-12.no-padding
			.col-xs-6.no-padding
				nav.blue.z-depth-0
					.nav-wrapper.white.z-depth-0
						form
							.input-field
								input#search.grey-text.text-darken-2(type='search', placeholder='Buscar servidores' required='' ng-model="busqueda")
								label.label-icon(for='search')
									i.grey-text.text-darken-2.material-icons search
								i.material-icons close
			nav.z-depth-0.col-xs-6.white
				.nav-wrapper.z-depth-0
					ul.right.hide-on-med-and-down
						li.right
							a(href='badges.html').grey-text.text-darken-2
								i.material-icons.grey-text.text-darken-2 sort_by_alpha
						li.right
							a(href='badges.html').grey-text.text-darken-2
								i.material-icons.grey-text.text-darken-2 view_list
		.row.divider.col-xs-12
		.row.col-xs-12.table__content.no-padding
			table.highlight
				thead
					tr
						th Selc
						th ID
						th Nombre
						th IP
						th Mac
						th SO
						th Descripción
						th Opciones
				tbody
					tr(ng-repeat='servidor in servidores | filter:busqueda' style='cursor:pointer;')
						td.center-xs
							input(id='{{sw.id}}' type='checkbox').red
							label(for='{{sw.id}}')
						td(ui-sref="single_servidores({ id: servidor.id })") {{servidor.id}}
						td(ui-sref="single_servidores({ id: servidor.id })") {{servidor.name}}
						td(ui-sref="single_servidores({ id: servidor.id })") {{servidor.ip}}
						td(ui-sref="single_servidores({ id: servidor.id })") {{servidor.mac}}
						td(ui-sref="single_servidores({ id: servidor.id })") {{servidor.so}}
						td(ui-sref="single_servidores({ id: servidor.id })") {{servidor.description}}
						td.center-xs
							a(ui-sref="single_servidores({ id: servidor.id })").center-xs
								i.material-icons.indigo-text more
				//-------------------------------
				//- Mensajes de Error , Carga y Busqueda
				//-------------------------------	
		.row.col-xs-12
			.load.row.col-xs-12.center-xs
				h3.light.grey-text Cargando ... 
			.row.col-xs-12.center-xs(ng-if="servidores.length==0")
				h3.light.grey-text No hay servidores 

ul#slide-out.side-nav
	.row.col-xs-12.indigo.middle-xs(style='height: 130px;margin-bottom:30px;')
		.row.col-xs-12
			h3.light.white-text Crear un servidor
	.row.col-xs-12
		form.col-xs-12
			.input-field
				input(id="name" type="text" placeholder="Nombre" ng-model="servidor.name")
				label#name Nombre del servidor
			.input-field
				input(id="ip" type="text" placeholder="IP" ng-model="servidor.ip")
				label#ip IP del servidor
			.input-field
				input(id="mac" type="text" placeholder="mac" ng-model="servidor.mac")
				label#mac MAC
			.input-field
				input(id="so" type="text" placeholder="SO" ng-model="servidor.so")
				label#so Sistema operativo del servidor
			.input-field
				input(id="description" type="text" placeholder="Descripción" ng-model="servidor.description")
				label#description Descripción
			.input-field
				input(id="modelo" type="text" placeholder="Modelo" ng-model="servidor.modelo")
				label#modelo Modelo del servidor
			.input-field.row
				input(type="submit" value="Crear" ng-click="crearServidor(servidor)").col-xs-12.btn.indigo.white-text


