include ./includes/nav.jade

ul#slide-out.side-nav
	.row.col-xs-12.indigo.middle-xs(style='height: 130px;margin-bottom:30px;')
		.row.col-xs-12
			h3.light.white-text Nuevo servidor
	.row.col-xs-12
		form.col-xs-12
			.input-field
				input(id="name" type="text" placeholder="Nombre" ng-model="sw.name")
				label#name Nombre del switche
			.input-field
				input(id="modelo" type="text" placeholder="Modelo" ng-model="sw.modelo")
				label#modelo Modelo del switche
			.input-field
				input(id="so" type="text" placeholder="SO" ng-model="sw.so")
				label#so Sistema operativo del switche
			.input-field
				input(id="ip" type="text" placeholder="IP" ng-model="sw.ip")
				label#ip IP del switche
			.input-field
				<select class="" material-select multiple watch>
				<option ng-repeat='eq in equipos' value='{{eq.id}}'>{{ eq.name }}</option>
				</select>
			.input-field.row
				input(type="submit" value="Crear" ng-click="crearSW(sw)").col-xs-12.btn.indigo.white-text


main
	.header_ever.row
		nav.transparent.z-depth-0.col-xs-6
			h4.white-text(style='margin-top:16px;') Servidores
		nav.transparent.z-depth-0.col-xs-6(ng-controller="create_modal")
			.nav-wrapper.transparent.z-depth-0
				ul.right.hide-on-med-and-down
					li.right
						a(href='badges.html')
							i.material-icons more_vert
					li.right
						a(href='badges.html')
							i.material-icons view_module
					li.right
						a(href='badges.html')
							i.material-icons settings_ethernet
	.content_ever.row.center-xs.z-depth-1.white
		.row.col-xs-12.no-padding
			.col-xs-6.no-padding
				nav.blue.z-depth-0
					.nav-wrapper.white.z-depth-0
						form
							.input-field
								input#search.grey-text.text-darken-2(type='search', placeholder='Buscar servidores' required='' ng-model="busqueda")
								label.label-icon(for='search')
									i.grey-text.text-darken-2.material-icons search
								i.material-icons close
			nav.z-depth-0.col-xs-6.white
				.nav-wrapper.z-depth-0
					ul.right.hide-on-med-and-down
						li.right
							a(href='badges.html').grey-text.text-darken-2
								i.material-icons.grey-text.text-darken-2 sort_by_alpha
						li.right
							a(href='badges.html').grey-text.text-darken-2
								i.material-icons.grey-text.text-darken-2 view_list
		.row.divider.col-xs-12
		.row.col-xs-12
			table.highlight
				thead
					tr
						th Selc
						th ID
						th Nombre
						th IP
						th Mac
						th SO
						th Descripción
						th Opciones
				tbody
					tr(ng-repeat='servidor in servidores | filter:busqueda' style='cursor:pointer;')
						td
							input(id='{{sw.id}}' type='checkbox').red
							label(for='{{sw.id}}')
						td {{servidor.id}}
						td {{servidor.name}}
						td {{servidor.ip}}
						td {{servidor.mac}}
						td {{servidor.so}}
						td {{servidor.description}}
						td 
							a(ui-sref="single_servidores({ id: servidor.id })")
								i.material-icons edit
		.row.col-xs-12
			.load.row.col-xs-12.center-xs
				.spinner-layer.spinner-yellow
					.circle-clipper.left
						.circle
					.gap-patch
						.circle
					.circle-clipper.right
						.circle
				h3.light.grey-text Cargando ... 
			.hide.loadClear.row.col-xs-12.center-xs
				h3.light.grey-text No hay equipos registrados ... 
			.hide.loadError.row.col-xs-12.center-xs
				h3.light.grey-text Ocurrio un error, intentalo mas tarde... 
