include ./includes/nav.jade

main
	.row.col-xs-12.indigo
		nav.transparent.z-depth-0.col-xs-6
			h4.white-text.light(style='margin-top:17px;') Informacion de switche
		nav.transparent.z-depth-0.col-xs-6(ng-controller="create_modal")
			.nav-wrapper.transparent.z-depth-0
				ul.right.hide-on-med-and-down
					li.right
						a(href="#" data-activates="slide-update").disabled.button-create.btn.white.indigo-text Editar
					li.right
						a(ng-click="delete()").disablessd
							i.material-icons delete
					li.right
						a(ng-click="verModulos()")
							i.material-icons view_module
		.col-xs-12.no-padding.transparent.progress.progress-load(style="margin:0px;")
			.indeterminate.red.accent-2
	
	.row.col-xs-12
		.row.col-xs-12.center-xs.load
			h3.light.grey-text.text-darken-2 Cargando informacion ...
		//- Contenido del single
		.row.col-xs-12.col-md-8.table__content.hide
			ul.collection.with-header.col-xs-12.white.no-padding
				li.collection-header.start-xs
					h5.light.grey-text.text-darken-3 Conexciones de este switche
				//- Switches -> Equipos
				include ./switches/switches_puertos_equipos.jade
				//- Switches -> Servidores
				include ./switches/switches_puertos_servidores.jade
				//- Switches -> Switches
				include ./switches/switches_puertos_switches.jade
		.row.col-xs-12.col-md-4.table__content.hide(style="max-height:500px;")
			ul.collection.with-header.col-xs-12.white.no-padding
				li.collection-header.start-xs
					h5.light.grey-text.text-darken-3 Informacion del Switche
				li.collection-item 
					b Nombre: 
					| {{switche.name}}
				li.collection-item
					b Modelo: 
					| {{switche.modelo}}
				li.collection-item 
					b Sistema Operativo: 
					| {{switche.so}}
				li.collection-item
					b Ip: 
					| {{switche.ip}}

ul#slide-update.side-nav
	.row.col-xs-12.indigo.middle-xs(style='height: 130px;')
		.row.col-xs-11.no-padding
			h3.light.white-text Editar un switche
	.row.col-xs-12.no-padding.transparent.progress.progress-update.hide(style="margin:0px;")
		.indeterminate.amber.accent-3
	.row.col-xs-12.no-padding(style="margin-top:30px;")
		form.col-xs-12
			.input-field
				input(id="name" type="text" placeholder="Nombre" ng-model="switche.name")
				label#name Nombre del switche
			.input-field
				input(id="modelo" type="text" placeholder="Modelo" ng-model="switche.modelo")
				label#modelo Modelo del switche
			.input-field
				input(id="so" type="text" placeholder="SO" ng-model="switche.so")
				label#so Sistema operativo del switche
			.input-field
				input(id="ip" type="text" placeholder="IP" ng-model="switche.ip")
				label#ip IP del switche
			.input-field.row
				input(type="submit" value="Actualizar" ng-click="update(switche)").col-xs-12.btn.indigo.white-text
