include ./includes/nav.jade

ul#slide-out.side-nav
	.row.col-xs-12.indigo.middle-xs(style='height: 130px;margin-bottom:30px;')
		.row.col-xs-12
			h3.light.white-text Crea un switche
	.row.col-xs-12
		form.col-xs-12
			.input-field
				input(id="name" type="text" placeholder="Nombre" ng-model="sw.name")
				label#name Nombre del switche
			.input-field
				input(id="modelo" type="text" placeholder="Modelo" ng-model="sw.modelo")
				label#modelo Modelo del switche
			.input-field
				input(id="so" type="text" placeholder="SO" ng-model="sw.so")
				label#so Sistema operativo del switche
			.input-field
				input(id="ip" type="text" placeholder="IP" ng-model="sw.ip")
				label#ip IP del switche
			.input-field
				<select class="" material-select multiple watch>
				<option ng-repeat='eq in equipos' value='{{eq.id}}'>{{ eq.name }}</option>
				</select>
			.input-field.row
				input(type="submit" value="Crear" ng-click="crearSW(sw)").col-xs-12.btn.indigo.white-text

main
	.header_ever.row
		nav.transparent.z-depth-0.col-xs-6
			h4.white-text(style='margin-top:12px;') Switches
		nav.transparent.z-depth-0.col-xs-6(ng-controller="create_modal")
			.nav-wrapper.transparent.z-depth-0
				ul.right.hide-on-med-and-down
					li.right
						a(href="#" data-activates="slide-out").button-create.btn.white.indigo-text Agrega nuevo
					li.right
						a(ng-click="verModulos()")
							i.material-icons more_vert
					li.right
						a(ng-click="verModulos()")
							i.material-icons view_module
					li.right
						a(ng-click="verModulos()")
							i.material-icons settings_ethernet
		.col-xs-12.no-padding.transparent.progress.progress-load(style="margin:0px;")
			.indeterminate.red.accent-2
	.row.col-xs-12
		.load.row.col-xs-12.center-xs
			h3.light.grey-text Cargando ... 
		.hide.loadClear.row.col-xs-12.center-xs
			h3.light.grey-text No hay equipos registrados ... 
		.hide.loadError.row.col-xs-12.center-xs
			h3.light.grey-text Ocurrio un error, intentalo mas tarde... 

	.content_ever.row.center-xs
		.row.col-xs-12.no-padding
			nav.transparent.z-depth-0.col-xs-6.no-padding
				.nav-wrapper
					form
						.input-field
							input#search.grey-text.text-darken-2(type='search', placeholder='Buscar Switches' required='' ng-model="busqueda")
							label.label-icon(for='search')
								i.grey-text.text-darken-2.material-icons search
							i.material-icons close
			nav.transparent.z-depth-0.col-xs-6.no-padding
				.nav-wrapper
					ul.right.hide-on-med-and-down
						li.right
							a(ng-click="verModulos()").grey-text.text-darken-2
								i.material-icons sort_by_alpha
						li.right
							a(ng-click="verModulos()").grey-text.text-darken-2
								i.material-icons view_list
		.row.divider.col-xs-12
		.row.col-xs-12.table__content.no-padding.hide
			table.highlight
				thead
					tr
						th.center Selc
						th ID
						th Nombre
						th Modelo
						th SO
						th IP
						th Opciones
				tbody
					tr(ng-repeat='sw in switches | filter:busqueda' style='cursor:pointer;')
						td.center-xs
							input(id='{{sw.id}}' type='checkbox').red
							label(for='{{sw.id}}')
						td {{sw.id}}
						td {{sw.name}}
						td {{sw.modelo}}
						td {{sw.so}}
						td {{sw.ip}}
						td.center-xs
							a(ui-sref="single_switche({ id: sw.id })")
								i.material-icons edit
